<html lang="en">
<head>
    <meta charset="utf-8" />
<meta http-equiv="refresh" content="10"; url="/dashboard/show">
<h1> Started collecting data on: <%= Time.at(Nagios.last.timestamp)%>  </h1>

    <table width="1000" border="1">
        <th>Name</th>
        <th>Service</th>
        <th>Status and Output</th>

      <%@nagios.reverse.each{|entry| %>
      <tr>
        <td width="200"><%= entry['host_name']%></td>
        <td width="200"><%= entry['service_description']%></td>
        <td width="600" <%= entry['current_state'] != 0 ? "class='failed'" : "class='passed'"%>><%= entry['plugin_output']%></td>
      </tr>  <%}%>
    </table>   
</head>
</html>