<%= form_for(@alarm) do |f| %>
  <% if @alarm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alarm.errors.count, "error") %> prohibited this alarm from being saved:</h2>

      <ul>
      <% @alarm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :startdate %><br />
    <%= f.datetime_select :startdate %>
  </div>
  <div class="field">
    <%= f.label :enddate %><br />
    <%= f.datetime_select :enddate %>
  </div>
  <div class="field">
    <%User.all.each do |users|%>
    <%= check_box_tag "notify[]", users.id, false %>
    <%= label_tag(users.name, users.fullname) %>
    <%end%>
  </div>
  <div class="field">
    <%= label_tag("Host","host")%>
    <%= select_tag "req[host]", options_from_collection_for_select(Servicestatus.all_servhosts, "host_name", "host_name")%>
    <%= label_tag("Down longer than:")%>
    <%= select_tag "req[downtime]", options_for_select(1..99)%><a>checks</a>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
