<%= form_for(@alert) do |f| %>
  <% if @alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

      <ul>
      <% @alert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :startdate %><br />
    <%= f.datetime_select :startdate %>
  </div>
  <div class="field">
    <%= f.label :stopdate %><br />
    <%= f.datetime_select :stopdate %>
  </div>
  <div class="field">
    <%= f.label :notifiers %><br />
    <%= f.text_field :notifiers %>
  </div>
  <div class="field">
    <%User.all.each do |users|%>
    <%= check_box_tag "notifiers[]", users.id, false %>
    <%= label_tag(users.name, users.fullname) %>
    <%end%>
  </div>
  <div class="field">
    <%= f.label :host %><br />
    <%= f.text_field :host %>
    <%= label_tag("Host","host")%>
    <%= select_tag "req[host]", options_from_collection_for_select(Servicestatus.all_servhosts, "host_name", "host_name")%>
  </div>
  <div class="field">
    <%= label_tag("Down longer than:")%>
    <%= select_tag :trigger, options_for_select(1..99)%><a>checks</a>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
